/*
Red Lantern redesign
HFWD Chapter 1
*/

/*
The font size here is set to 62.5% so that
1em = 10px. This makes adjusting our typography
a little easier
*/
body {

	height: 100vh;
	background:  linear-gradient(to bottom,  #13449e,#106bf377);
	background-repeat: no-repeat;		
	
}


h1
{
	font-size: 25px;
	font-weight: bolder;
	color: white;
}
	


p {
	font-size: 15px;
	color: white;
	
}
#pOptions
{
	font-size: 25px;
	color: #29e4ff;
	font-weight: bolder;

	
}

#row2 {


	font-size: 25px;
	background:  linear-gradient(to bottom,  #28deff,#016274);
	padding: 10px;
	margin: 0;
	border: 0;
		
}

 
#row2 li {
	display: inline;
	margin: 0 0 0px 90px;

	font-weight: bolder;
	
}
#mainContent
{
	padding: 20px;
	background-color: #ade8fc;
}
#white
{
	background-color:white;

}
#content_2
{	
	font-size: 11px;
	color: #29e4ff;
	font-weight: bolder;

}
#sidebar {
	float: left;
	background: #d1f6fd;
}
#word
{
	font-size: 13px;
	color: #000000;
	font-weight: bolder;
	text-decoration-line: underline;
	text-indent: 30px;
	line-height: 0.5;
}
#footer
{
	clear: both;
	background:  linear-gradient(to bottom,  #28deff,#016274);
	padding: 10px;
	border-top: 2px solid #01d6fc;
	text-align: center;
	border-top-width: 10px;
	border-top-style: solid; 
}
